In [7]:
import pandas as pd
import sqlite3

Establish a connection

In [8]:
conn = sqlite3.connect("customer_data.db")
cur = conn.cursor

Read and display data from the CSV file into a Pandas DataFrame

In [9]:
import pandas as pd

df = pd.read_csv("customer_data.csv")
print(df.head())

   id  age  gender  income   education
0   1   27    Male   40682    Bachelor
1   2   29    Male   15317     Masters
2   3   37    Male   38849    Bachelor
3   4   30    Male   11568  HighSchool
4   5   31  Female   46952     College

Send data to database

In [10]:
df.to_sql("customer_data",conn,index=False,if_exists="append")

20

In [11]:
import sqlite3

conn = sqlite3.connect("customer_data.db")
cur = conn.cursor()
cur.execute("SELECT * FROM customer_data")
rows = cur.fetchall()
print(rows)

[(1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool'), (1, 27, 'Male', 40682, 'Bachelor'), (2, 29, 'Male', 15317, 'Masters'), (3, 37, 'Male', 38849, 'Bachelor'), (4, 30, 'Male', 11568, 'HighSchool'), (5, 31, 'Female', 46952, 'College'), (6, 38, 'Male', 7347, 'Bachelor'), (7, 32, 'Female', 8265, 'Bachelor'), (8, 24, 'Female', 47773, 'HighSchool'), (9, 27, 'Male', 19154, 'College'), (10, 28, 'Female', 24666, 'HighSchool'), (11, 35, 'Male', 43896, 'HighSchool'), (12, 32, 'Female', 40044, 'Bachelor'), (13, 32, 'Male', 6735, 'College'), (14, 30, 'Female', 19034, 'Bachelor'), (15, 28, 'Male', 35748, 'Bachelor'), (16, 38, 'Female', 26282, 'College'), (17, 32, 'Male', 49088, 'Bachelor'), (18, 21, 'Female', 20163, 'College'), (19, 33, 'Female', 10660, 'Bachelor'), (20, 28, 'Male', 40725, 'HighSchool')]

Read from database to dataframe

In [12]:
result = pd.read_sql_query("SELECT * FROM customer_data LIMIT 15", conn)
result

    id  age  gender  income   education
0    1   27    Male   40682    Bachelor
1    2   29    Male   15317     Masters
2    3   37    Male   38849    Bachelor
3    4   30    Male   11568  HighSchool
4    5   31  Female   46952     College
5    6   38    Male    7347    Bachelor
6    7   32  Female    8265    Bachelor
7    8   24  Female   47773  HighSchool
8    9   27    Male   19154     College
9   10   28  Female   24666  HighSchool
10  11   35    Male   43896  HighSchool
11  12   32  Female   40044    Bachelor
12  13   32    Male    6735     College
13  14   30  Female   19034    Bachelor
14  15   28    Male   35748    Bachelor